<%= @error %>
<h1>Login</h1>

<p>Username<br>
	<%== text_field_tag :username, @old_username %></p>

<p>Password<br>
	<%== text_field_tag :password %></p>

<p><%== submit_tag "Login" %>	

<p>(Username is amy, password is 123)</p>
