<h1>Transactions for checking</h1>

<table border="1">
  <tr>
    <th>Date</th>
    <th>Memo</th>
    <th>Amount</th>
    <th></th>
  </tr>
  <% @account.transactions.each do |txn| %>
    <tr>
      <td><%= txn.date %></td>
      <td><%= txn.memo %></td>
      <td><%= "%.2f" % txn.amount %></td>
      <td><%== submit_tag "Delete transaction #{txn.id}" %></td>
    </tr>
  <% end %>
</table>
