<h1>Page 4 of 4: Review</h1>

<h2>Name</h2>

<p></p>

<h2>Shipping speed</h2>

<p></p>

<h2>Shipping address</h2>

<p></p>

<h2>Billing address</h2>

<p></p>

<%== submit_tag "Go back" %> or
<%== submit_tag "Start over" %> or
<%== submit_tag "Place order" %>