<h1>Page 1 of 4: Sign up</h1>

<p>
  <b>First name</b><br>
  <%== text_field_tag :first_name, "" %>
</p>

<p>
  <b>Last name</b><br>
  <%== text_field_tag :last_name, "" %>
</p>

<p>
	<%== submit_tag "Go back" %> or <%== submit_tag "Continue" %>
</p>	