<h1><%= @title></h1>

<p><b>Summary:</b> <%= @summary %></p>

<p>Read more at <a href="http://cloudinary.com/blog/how_to_support_webp_images_save_bandwidth_and_improve_user_performance">http://cloudinary.com/blog/how_to_support_webp_images_save_bandwidth_and_improve_user_performance</a></p>
