<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Student Gallery</title>
<link href="file:///E|/ruby/2013-q3-rails-1/110b-example-project-mockups/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="1085" border="0">
  <tr>
    <td width="24" rowspan="4" bgcolor="#000000">&nbsp;</td>
    <td width="24" rowspan="4" bgcolor="#FF0000">&nbsp;</td>
    <td width="999"><h1><img src="/images/logo.png" width="150" height="150" hspace="10" /> Student Gallery</h1></td>
    <td width="24" rowspan="4" bgcolor="#FF0000">&nbsp;</td>
    <td width="24" rowspan="4" bgcolor="#000000">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="1085" border="2">
  <tr>
    <th scope="col"><a href="/q12013">2013 Q1</th>
    <th scope="col"><a href="/about">About DVC</th>
    <th scope="col"><a href="/contact">Contact DVC</th>
    <th scope="col">Past terms</th>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="1085" border="10">
      <tr>
        <th scope="col">STUDENT NAME</th>
        <th scope="col">SITE NAME</th>
        <th scope="col">TERM</th>
      </tr>
      <tr>
        <td>Thomas Coler</td>
        <td>Value Outlook Beta Charts</td>
        <td>2012 Q4</td>
      </tr>
      <tr>
        <td>Mick Trujillo</td>
        <td>Pente, strategy game</td>
        <td>2012 Q4</td>
      </tr>
      <tr>
        <td>John Williams</td>
        <td>John Williams Portfolio</td>
        <td>2012 Q4</td>
      </tr>
      <tr>
        <td>David Douglas</td>
        <td>Angel Investor Listings</td>
        <td>2012 Q3</td>
      </tr>
      <tr>
        <td>Alison Jones & <br>Timothy Clayton</td>
        <td>BeeCanDo</td>
        <td>2012 Q3</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><u>(add a new site...)</u></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF"><p>&copy; 2013 The DaVinci Institute, Inc. All rights reserved. The DaVinci<br />
     Institute is a 501(c)(3) non-profit under the laws of the State of Colorado.</p></td>
  </tr>
</table>
</body>
</html>
