<h1><%= @title %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <a href="/recipe/<%= recipe.name %>">
          <%= recipe.name %>
        </a>
      </td>
      <td>
        <%= recipe.author.full_name %>
      </td>
    </tr>
  <% end %>
</table>
