<h1>Search for vehicles of a specific color by selecting a tile below:</h1>

<table>
  <tr>
    <th></th>
    <% @colors.each do |color| %>
    <th><%= color.name %></th>
    <% end %>
  </tr> 
  <% @vehicles.each do |vehicle| %>
  <tr>
    <th><%= vehicle.name %></th>
    <% @colors.each do |color| %>
    <td style="background-color:<%= color.html_color_code %>">
      <a href="/<%= color.id %>/1">
        <img src="/images/car.png">
      </a>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>

