<h1>Search for vehicles of a specific color by selecting a tile below:</h1>

<table>
  <tr>
    <th></th>
    <th>purple</th>
    <th>yellow</th>
    <th>green</th>
    <th>fuschia</th>
  <tr>
    <th>car</th>
    <td style="background-color:#6666FF">
      <a href="/1/1">
        <img src="/images/car.png">
      </a>
    </td>
    <td style="background-color:#FFFF66">
      <a href="/1/1">
        <img src="/images/car.png">
      </a>
    </td>
    <td style="background-color:#66FF66">
      <a href="/1/1">
        <img src="/images/car.png">
      </a>
    </td>    
    <td style="background-color:#CC00FF">
      <a href="/1/1">
        <img src="/images/car.png">
      </a>
    </td>
  </tr>


  <tr>
    <th>bicycle</th>
    <td style="background-color:#6666FF">
      <a href="/1/1">
        <img src="/images/bike.png">
      </a>
    </td>
    <td style="background-color:#FFFF66">
      <a href="/1/1">
        <img src="/images/bike.png">
      </a>
    </td>
    <td style="background-color:#66FF66">
      <a href="/1/1">
        <img src="/images/bike.png">
      </a>
    </td>    
    <td style="background-color:#CC00FF">
      <a href="/1/1">
        <img src="/images/bike.png">
      </a>
    </td>
  </tr>
</table>

