<h1>Team members</h1>

<ul>
  <% @people.each do |person| %>
    <li><%= person.name %></li>
  <% end %>
    <% numbers = [1, 2, 3] %>
    <% numbers.each do |number| %>
  <li>
    <%== text_field_tag "new_name_#{number}", "" %>
  </li>
    <% end %>
</ul>
<%== submit_tag "Add" %>
