<h1>Question #1</h1>

<p>What is 8 + 5?</p>

<p><%== radio_button_tag :answer, "15" %>15</p>

<p><%== radio_button_tag :answer, "40" %>40</p>

<p><%== radio_button_tag :answer, "13" %>13</p>

<p><%== submit_tag "Submit answer" %></p>