<h1>Question #1</h1>
<p>
  What is 8 + 5?
</p>	
<p>
	<%== radio_button_tag :answer, "a" %>
	15
</p>

<p>
	<%== radio_button_tag :answer, "b" %>
	40
</p>

<p>
	<%== radio_button_tag :answer, "c" %>
	13
</p>	

<%== submit_tag "Submit answer" %>