<h1>Question #2</h1>
<p>
  What is 5 - 3?
</p>	
<p>
	<%== radio_button_tag :answer, "a" %>
	2
</p>

<p>
	<%== radio_button_tag :answer, "b" %>
	3
</p>

<p>
	<%== radio_button_tag :answer, "c" %>
	8
</p>	

<%== submit_tag "Submit answer" %>