<p>
  Font size<br>
  <%== text_field_tag :font_size, "16", size: 2 %> (between 8 and 12)
</p>
<p>
  Text<br>
  <%== text_field_tag :text, "Robert T Goodman", size: 50 %>
</p>
<p>
  <%== submit_tag "Update" %>
</p>