<h1>Edit line <%= @bracelet_line.id %></h1>
<p>
  Font size<br>
  <%== text_field_tag :font_size, @bracelet_line.font_size, size: 2 %> (between 8 and 12)
</p>
<p>
  Text<br>
  <%== text_field_tag :text, @bracelet_line.text, size: 50 %>
</p>
<p>
  <%== submit_tag "Update" %>
</p>
<p><a href="/">Return to index</a></p>