<table border="1">
  <% @students.each do |student| %>
    <tr>
  	
    <th>
       	<%= student.first_name %> <%= student.last_name %>
    </th>	
         
    <td>
    	
    </td>
    <td>C1</td>
    
  </tr>
  <% end %>
</table>
